.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.meeting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

.section {
  text-align: center;
  margin-top: 10rem;
}

.components {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: auto;
  text-align: center;

  & div {
    margin-top: 1rem;
  }
}

.componentLogo {
  height: 4rem;
}


.heroLogo {
  width: 50%;
  height: 50%;
}
