.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.meeting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

.components {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  text-align: center;
}

.componentLogo {
  height: 4rem;
}


.heroLogo {
  width: 50%;
  height: 50%;
}
